
body {
    background: #f3f3f3;
}

ul li {
    list-style-type: none;
}

a.bold-link {
    color: #007bff;
    font-weight: bold;
}
img {
    max-width: 100%;
}

/* Header START */
header {
    background: #4a90e2;
    height: 50px;
}

header .dmx-logo {
    line-height: 30px;
    background-position: 0 0;
    width: 174px;
    height: 32px;
    display: block;
    margin-top: 10px;
}
header .province-box {
    float: left;
    vertical-align: middle;
    background: #2878d7;
    height: 35px;
    padding: 0 5px;
    border-radius: 4px;
    margin: 7px 0 7px 7px;
}
header .province-box b {
    display: block;
    font-size: 10px;
    color: #bae8ff;
    height: 11px;
    padding: 2px 0;
    font-weight: normal;
}
header .province-box a {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
}
header .province-box .modal-content {
    position: relative;
}
header .province-box .modal-body {
    padding: 15px 25px;
}
header .province-box .close {
    position: absolute;
    top: -10px;
    right: -12px;
    opacity: 1;
    cursor: pointer;
    width: 26px;
    height: 26px;
}

header .province-box .close:before {
    color: #fff;
    content: '✕';
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 26px;
    height: 26px;
    font-family: Tahoma;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
}
header .province-box .accept-btn {
    display: inline-block;
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 14px;
    width: 90%;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    margin: auto;
}
header .province-box .modal-footer {
    background-color: #f3f3f3;
}
header .search-area {
    margin-top: 7px;
}
header .search-area input {
    height: 34px;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 15px;
}
header .refer-link {
    float: right;
    height: 34px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 2px 0 7px 26px;
    position: relative;
}
header .refer-link.one-line {
    margin-top: 12px;
}
header .refer-link span {
    display: block;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    color: #d0efff;
}
/* Header END */
/* ================================= */

/* ================================= */
/* Fotter START */
footer {
    background: #fff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .icondmx-logomaiam {
    background-position: -177px -205px;
    width: 96px;
    height: 20px;
    display: block;
}
footer .icondmx-logotgdd {
    background-position: -125px -131px;
    width: 108px;
    height: 25px;
    display: block;
}
footer .icondmx-logobhx {
    background-position: 0 -131px;
    width: 111px;
    height: 25px;
    display: block;
}
footer .icondmx-share1 {
    background-position: -235px 0;
    width: 8px;
    height: 16px;
    vertical-align: sub;
}
footer .icondmx-share3 {
    background-position: -245px 0;
    width: 13px;
    height: 16px;
    vertical-align: sub;
}
footer a:hover {
    color: #1981f2;
    text-decoration: none;
}

footer a {
    color: #000;
    background-color: transparent;
}

/* Fotter END */

#online-support {
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: #00a4de;
    border-radius: 25px;
    border: 3px solid #ffffff;
    width: 86px;
    height: 33px;
}
#online-support img {
    float: left;
    position: absolute;
    top: 1px;
    left: 8px;
    width: 26px;
}
#online-support span {
    font-size: 0.625rem;
    color: #fff;
    line-height: 100%;
    display: block;
    float: right;
    margin: 1px;
    margin-top: 2px;
    margin-right: 12px;
    font-weight: 700;
}
#goto-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    display: none;
}
/* ====================================================================================== */

.icon-dmx {
    background-image: url(../images/dmx/icondesktop@1x.v202007011410.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
/* Common Style END */
.active-brand{
	border:1px solid #4a90e2!important;
}